@import "tailwindcss";

:root {
  --color-primary: #ff2d2d;   /* Devlynxio red */
  --color-primary-dark: #b71c1c;
  --color-primary-light: #ff5555;

  --color-bg: #000000;
  --color-text: #ffffff;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-light: var(--color-primary-light);

  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 22s linear infinite;
}
